body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18pt;
    color: #e0e0e0; /* Clair mais doux */
    background-color: #121212;
    background-image: linear-gradient(to bottom, #121212, #1a1a1a);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1, p {
    margin: 10px 0;
    color: #ffffff; /* Blanc pur pour les titres */
}

button {
    background-color: #444444; /* Bouton sombre pour s'adapter au fond */
    color: #ffffff;
    border: 2px solid #888888;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #666666; /* Effet léger pour le survol */
    transform: scale(1.05);
}

#phraseDisplay {
    margin: 20px;
    width: 90%;
    max-width: 800px;
    color: #e0e0e0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
}
